@using CloudXForum.DataAccess.Entities
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> _signInManager
@inject UserManager<ApplicationUser> _userManager

<ul class="navbar-nav">
    @if (_signInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" title="Manage">Welcome, @_userManager.GetUserName(User)</a>
        </li>
        <li class="nav-item">
            <div class="dropdown" id="notificationManager">
                <a class="nav-link dropdown-toggle text-dark" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    Notifications
                 <div id="notificationContainer">
                    <span id="notificationCount">0</span>
                 </div>
                </a>
                <div class="dropdown-menu dropdownLeft" aria-labelledby="dropdownMenuLink" id="notificationList">
                    @* List Notifications Here *@
                </div>
            </div>
        </li>
        <li class="nav-item">
            <div class="dropdown">
                <a class="nav-link dropdown-toggle text-dark" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    Settings
                </a>
                <ul class="dropdown-menu dropdownLeft" aria-labelledby="dropdownMenuLink">
                    <li>
                        <a class="dropdown-item" asp-controller="Profile" asp-action="Detail" asp-route-id="@_userManager.GetUserId(User)">My profile</a>
                    </li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li >
                            <a class="dropdown-item" asp-controller="Profile" asp-action="Index">View users</a>
                        </li>
                    }
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new {area = ""})">
                <button type="submit" class="nav-link btn btn-link text-dark">
                    <strong>Logout</strong>
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>

